
    nav{
        justify-content: space-between;
    }
    





/* Navbar 1 (base)*/
.nav {
display: flex;
align-items: center;
justify-content: flex-start;
font-family: 'Poppins', sans-serif;
background-color: var(--nav-bg);
padding: 20px 30px;
color: var(--nav-color);
margin-bottom: 1em;
border-bottom: var(--nav-border) solid 1px;
align-items: flex-start;
}

.nav-logo {
font-weight: bold;
font-size: 1.1em;
margin-left: 25px;
color: var(--nav-logo);
text-decoration: none;
}

.nav-list {
list-style: none;
}

.nav-list li {
display: inline-block;
margin-left: 3em;
}

.nav-list a {
color: var(--nav-link);
text-decoration: none;
transition: color 0.3s ease;
}

.nav-list a:hover {
color: var(--nav-link-hover);
}

/* Navbar 2 */
.nav-2 {
justify-content: space-between;
}

/* Navbar 3 */
.nav-3 {
justify-content: space-between;
}

/* Contact button */
.nav-btn {
background-color: var(--nav-btn);
border: none;
color: #fff;
padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
}
