<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/signup.css" rel="stylesheet">
  <link href="../static/login.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>
    <div class="root">
      <div class="left">
        <form class="registration" method="post" action='http://127.0.0.1:5000/login'>
          <h1 style="color: rgb(236, 103, 103);">Login in!</h1>
       
          <label class="pure-material-textfield-outlined">
             <input name="username" placeholder="User Name" type="text" required>
         
          </label>
       
     
         
         
           <label class="pure-material-textfield-outlined">
            <input name="password" placeholder="Password" type="password" required>
         
          </label>
         
       
          <button class="pure-material-button-contained btn" type="submit">Login</button>
        
           <a href="/signup">Or Sign up here!</a>
       
      </form>
      </div>
   
    <div class="right">
      <div class="image">
      <h1>Welcome</h1>

      <Center><h3>Donate Blood & Save Lives</h3></Center>
     
       

    <img src="../static/final.png">
    </div>
   
    </div>
   </div>
   </body>
 </html>
